.form {width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.field {width: 320px;
    display: flex;
    border-radius: 8px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px 20px;
}

.labelText {gap:5px;
           display: flex;
           flex-direction: column; 
& span {font-weight: bold;
        text-align: start;}}

.error {font-size: 12px;
        color: red;}

.button {width: 200px;
    border: 1px solid #a09d9d;
    background-color: #c2bfbf;
    color:#616060;
    padding: 10px 15px;
    margin: 20px auto;}
   
